body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  background-color: skyblue;
  text-align: center;
  padding: 20px 0;
}

main {
  width: 80%;
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.button-container {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#back-btn,
#home-btn {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 10px;
}

#back-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#home-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.cart-items,
.summary,
.address {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: #f0f0f0;
}

.item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 10px;
}

.item-details {
  flex: 1;
}

.quantity {
  width: 50px;
}

.summary p {
  display: flex;
  justify-content: space-between;
}

.address input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: skyblue;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}