/* 声明字体图标 这里一定要注意路径的变化 */
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.w {
    width: 1200px;
    margin: 0 auto;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fr ul li a:hover {
    color: skyblue;
}
.style_red:hover {
    color: skyblue;
}
.shortcut {
    height: 32px;
    line-height: 32px;
    background-color: #f1f1f1;
}
.shortcut ul li {
    float: left;
}
/* 选择所有偶数的小li */
.shortcut .fr ul li:nth-child(even) {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}
.arrow-icon::after {
    content:'' ;
    font-family: 'icomoon';
    margin-left: 6px;
}
/* header头部制作 */
.header {
    position: relative;
    height: 105px;
}
.logo {
    position: absolute;
    top: 25px;
    width: 171px;
    height: 61px;
}
.logo a {
    display: block;
    width: 250px;
    height: 61px;
    background: url(../images/logo.png) no-repeat;
    /* font-size: 0; */
    text-indent: -9999px;
    overflow: hidden;

}
.search {
    position: absolute;
    top: 25px;
    left: 346px;
    width: 538px;
    height: 36px;
    border: 2px solid skyblue ;
}
.search input {
    float: left;
    width: 454px;
    height: 32px;
    padding-left: 10px;
}
.search button {
    float: left;
    width: 80px;
    height: 32px;
    background-color: skyblue;
    font-size: 16px;
    color: #fff;
}
.hotwords {
    position: absolute;
    top: 66px;
    left: 346px;
}
.hotwords a {
    margin: 0 10px;
}
.shopcar {
    position: absolute;
    top: 25px;
    right: 60px;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border: 1px solid #dfdfdf;
    background-color: #f7f7f7;
}
.shopcar::before {
    content: '\e93a';
    font-family: 'icomoon';
    margin-right: 5px;
    color: skyblue;
}
.shopcar::after {
    content: '\e920';
    font-family: 'icomoon';
    margin-left: 10px;
}
.court {
    position: absolute;
    top: -5px;
    left:105pxpx;
    height: 14px;
    line-height: 14px;
    color: #fff;
    background-color: #e60012;
    padding: 0 5px;
    border-radius: 7px 7px 7px 0;
}
.nav {
    height: 47px;
    border-bottom: 2px solid skyblue;
}
.nav .dropdown {
     float: left;
     width: 210px;
     height: 45px;
     background-color: skyblue;
}
.nav .navitems {
    margin-left: 90px;
    float: left;
}
.nav .navitems a:hover {
    background: linear-gradient(to bottom, skyblue, rgb(195, 219, 228));
    transition: all 0.5s;
    transform: scale(1.1,1.1);
    border-radius: 10px;
}
.dropdown .dt {
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
}
.dropdown .dd {

    width: 210px;
    height: 470px;
    background-color: skyblue;
    margin-top: 2px;
    
}
.dropdown .dd ul li {
    position: relative;
     height: 31px;
     line-height: 31px;
     margin-left: 2px;
     padding-left: 10px;
}
.dropdown .dd ul li::after{
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    content: '\e920';
    font-family: 'icomoon';
}
.dropdown .dd ul li:hover {
    /* border: 1px solid rgb(187, 213, 223); */
    background: linear-gradient(to right, white, rgb(195, 219, 228));
    transition: all 0.5s;
    transform: scale(1.3, 1.3) translateX(-20px);
    cursor: pointer;
}

.dropdown .dd ul li a {
    font-size: 14px;
    color: #fff;
}
.dropdown .dd ul li:hover a {
    color: skyblue;
}
.navitems ul li {
    float: left;
}
.navitems ul li a {
    display: block;
    height: 48px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}
.navitems ul li a:hover{
    color: #fff;
    background-color: rgba(137, 208, 237, 0.5);
}
.footer {
    height: 415px;
    background-color: #f5f5f5;
    padding-top: 30px;
}
.mod_service {
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li {
    float: left;
    width: 228px;
    height: 50px;

    padding-left: 35px;
}
.mod_service ul li .tu1 {
    float: left;
    width: 50px;
    height: 50px;
    background:url(../images/icons.png) no-repeat -252px -2px;
    margin-right: 5px;
}
.mod_service ul li .tu2 {
    float: left;
    width: 50px;
    height: 50px;
    background:url(../images/icons.png) no-repeat -255px -54px;
    margin-right: 5px;
}
.mod_service ul li .tu3 {
    float: left;
    width: 50px;
    height: 50px;
    background:url(../images/icons.png) no-repeat -257px -105px;
    margin-right: 5px;
}
.mod_service ul li .tu4 {
    float: left;
    width: 50px;
    height: 50px;
    background:url(../images/icons.png) no-repeat -258px -157px;
    margin-right: 5px;
}
.mod_service ul li .tu5 {
    float: left;
    width: 50px;
    height: 50px;
    background:url(../images/icons.png) no-repeat -256px -208px;
    margin-right: 5px;
}
.service_txt h4 {
    font-size: 14px;
}
.service_txt p {
    font-size: 12px;
}
.mod_help {
    
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl {
    float: left;
    width: 200px;
}
.mod_help dl:last-child {
    width: 90px;
    text-align: center;
}
.mod_help dl dt {
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_copyright {
    padding-top: 20px;
    text-align: center;
}
.links {
    margin-bottom: 15px;
}
/* 推荐样式 */
.recommend{
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
}
.recommend-hd{
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}
.recommend-bd{
    float: right;
}
.recommend-bd ul li{
    float: left;
    position: relative;
}
.recommend-bd ul li img{
    width: 248px;
    height: 163px;
}
.recommend-bd ul li:nth-child(-n+3)::after{
    position: absolute;
    right: 0px;
    top: 10px;
    content: '';
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* .recommend-bd ul li:nth-child(4)::after{
    第一种方法 
    position: absolute;
    right: 0px;
    top: 10px;
    content: '';
    width: 0px;
    height: 0px;
    background-color: #ddd;
    第二种方法
    display: none;
} */
/* 推荐模块 end */
/* 猜你喜欢模块 start */
.recommend2{
    margin-top: 30px;
}
.recommend2-list{
    height: 233px;
    border: solid 1px #ededed;
}
.recommend2-list ul li{
    float: left;
    text-align: center;
    width: 199px;
    position: relative;
    height: 233px;
}
.recommend2-list ul li:nth-child(1) img{
    padding-top: 10px;
}
.recommend2-list ul li:nth-child(2) img{
    padding-top: 25px;
}
.recommend2-list ul li:nth-child(3) img{
    padding-top: 15px;
}
.recommend2-list ul li:nth-child(4) img{
    padding-top: 50px;
}
.recommend2-list ul li:nth-child(5) img{
    padding-top: 20px;
}
.recommend2-list ul li:nth-child(6) img{
    padding-top: 20px;
}
.recommend2-list ul li h4{
    text-indent: 0.5em;
    font-size: 12px;
}
.recommend2-list ul li h2{
    text-indent: -2.5em;
    color: #df3033;
}
#indent1{
    text-indent: -6em;
    padding-top: 5px;
}
#indent2{
    text-indent: -7em;
    padding-top: 38px;
}
#indent2-1{
    text-indent: 1em;
}
#indent3{
    text-indent: -7em;
}
#indent3-1{
    text-indent: -1em;
}
#indent4{
    text-indent: -5em;
}
#indent4-1{
    text-indent: 0.7em;
}
.recommend2-list ul li:nth-child(-n+5)::after{
    position: absolute;
    right: 0px;
    bottom: 20px;
    content: '';
    width: 1px;
    height: 63px;
    background-color: #ededed;
}
/* 猜你喜欢模块 end */
/* 传智播客·有趣区 start */
.interestall{
    margin-top: 30px;
}
.interest{
    height: 406px;
    border: #ededed 1px solid;
}
.interest ul li{
    float: left;
    height: 406px;
}
.interest ul li:nth-child(2){
    width: 228px;
}
.interest ul li:nth-child(2) h3{
    text-align: center;
    font-size: 15px;
    width: 190px;
    border-bottom: 1px dashed #ededed;
    margin-left: 19px;
    padding: 5px 0px;
}
.interest ul li:nth-child(2) h2{
    padding-bottom: 5px;
}
.interest ul li:nth-child(2) .ibox1{
    position: relative;
    height: 208px;
    border-bottom: #ededed 1px solid;
}
.interest ul li:nth-child(2) .ibox1 img{
    position: absolute;
    right: -2px;
    top: 30px;
}
.interest ul li:nth-child(2) .shuoming{
    position: absolute;
    left: 10px;
    top: 70px;
}
.interest ul li:nth-child(2) .ibox2{
    
    height: 164px;
    position: relative;
}
.interest ul li:nth-child(2) .ibox2 img{
    position: absolute;
    right: -2px;
    bottom: 0px;
}
.interest ul li:nth-child(2) .shuoming2{
    position: absolute;
    left: 10px;
    top:  50px;
}
.interest ul li:nth-child(3) .ibox3 {
    border: #ededed 1px solid;
    position: relative;
    height: 406px;
    width: 566px;
}
.interest ul li:nth-child(3) img{
    
    height: 406px;
    width: 566px;
    position: absolute;
}

.interest ul li:nth-child(3) h3{
    text-align: center;
    font-size: 15px;
    width: 190px;
    border-bottom: 1px dashed #ededed;
    margin-left: 19px;
    padding: 5px 0px;
}
.interest ul li:nth-child(3) h2{
    font-size: 50px;
    padding-bottom: 5px;
}

.interest ul li:nth-child(3) .shuoming3{
    position: absolute;
    left: 180px;
    top: 10px;
}


/* 传智播客·有趣区  end*/
/* 家用电器部分 */
.box_hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box_hd h3{
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.tab_list{
    float: right;
}
.tab_list ul li{
    float: left;
    line-height: 30px;
}
.tab_list ul li a{
    margin: 0px 15px;
}
.floor .w{
    margin-top: 30px;
}
.box_bd{
    height: 361px;
}
.tab_list_item>div{
    float: left;
    height: 361px;
}
.col_210{
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
}
.col_210 ul{
    padding-left: 12px;
}
.col_210 ul li{
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #cccccc;
    line-height: 33px;
    text-align: center;
    margin-right: 10px;
}
.col_329{
    width: 329px;
}
.col_221{
    width: 221px;
}
.col_219{
    width: 219px;
}
.col_210 h2{
    margin-top: 127px;
}
.col_329{
    background-color: #aed6d8;
    color: #066c7d;
    text-align: center;
}
.col_329 ul{
    width: 50px;
    margin-left: 140px;
}
.col_329 ul li{
    float: left;
    background-color: #3e3e3e;
    border-radius: 50%;
    width: 10px;
    height: 10px; 
}
.col_329 ul li:hover{
    background-color: #fff;
}
.col_329 ul li:nth-child(2){
    margin: 0px 5px;
}
.col_329 h2{
    padding-top: 37px;
    padding-left: 30px;
    text-align: left;
}
.col_329 h4{
    margin-bottom: 36px;
    padding-left: 30px;
    text-align: left;
}
.col_221{
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.col_221 div:nth-child(1){
    height: 180px;
    border-bottom: 1px solid #ededed;
    position: relative;
}
.col_221 div:nth-child(1) h2{
    text-align: left;
    padding-top: 24px;
    padding-left: 18px;
}
.col_221 div:nth-child(1) h4{
    text-align: left;
    padding-left: 18px;
}
.col_221 div:nth-child(1) img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.col_221 div:nth-child(2){
    height: 180px;
    position: relative;
}
.col_221 div:nth-child(2) h2{
    text-align: left;
    padding-top: 24px;
    padding-left: 18px;
}
.col_221 div:nth-child(2) h4{
    text-align: left;
    padding-left: 18px;
}
.col_221 div:nth-child(2) img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.col_221 h2{
    padding-top: 85px;
}
.col_221 h2:nth-child(2){
    padding-bottom: 80px;
    color: #999;
    padding-top: 0px;
}
.col_220 img {
    float: left;
    width:436px;
    height: 361px;
}
.col_219{
    border-right: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    text-align: center;
}
.col_219 div:nth-child(1){
    height: 180px;
    border-bottom: 1px solid #ededed;
    position: relative;
}
.col_219 div:nth-child(1) h2{
    text-align: left;
    padding-top: 24px;
    padding-left: 18px;
}
.col_219 div:nth-child(1) h4{
    text-align: left;
    padding-left: 18px;
}
.col_219 div:nth-child(1) img{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.col_219 div:nth-child(2){
    height: 180px;
    position: relative;
    overflow: hidden;
}
.col_219 div:nth-child(2) h2{
    text-align: left;
    padding-top: 24px;
    padding-left: 18px;
}
.col_219 div:nth-child(2) h4{
    text-align: left;
    padding-left: 18px;
}
.col_219 div:nth-child(2) img{
    position: absolute;
    bottom: 0px;
    right: -20px;
    z-index: -1;
}
.col_219 h2{
    padding-top: 85px;
}
.floor .pinpai{
    margin-top: 20px;
    background: url(../images/upload/119.png)no-repeat;
    height: 66px;
}
.floor .pinpai ul li{
    float: left;
    width: 120px;
    height: 66px;
}
.rush{
    height: 282px;
    background: url(../images/upload/125.png) no-repeat -5px -43px;
    border: 1px solid #ededed;
    margin-bottom: 38px;
}
.col_240{
    float: left;
    width: 240px;
    height: 282px;
}
.col_660{
    float: left;
    width: 660px;
    height: 282px;
}
.col_660 ul{
    float: left;
}
.col_660 ul li {
    float: left;
    width: 220px;
    height: 141px;
}
.col_660 ul li a{
    display: block;
    width: 220px;
    height: 141px;
}
.col_300{
    float: left;
    width: 298px;
    height: 282px;
}
.col_300 ul li{
    float: left;
    width: 298px;
    height: 141px;
}
.col_300 ul li a{
    display: block;
    height: 141px;
    width: 298px;
}
